<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="kamineko.nez" version="0.9.0-alpha" targetFramework="net45" />
  <package id="MonoGame.Framework.DesktopGL" version="3.5.1.1679" targetFramework="net45" />
  <package id="openal.redist" version="2.0.7.0" targetFramework="net45" />
</packages>